body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
#welcome-section{
    display:flex;
    justify-content: space-evenly;
    padding-left: 980px;
    background-color:#be3144;
    
}
.a1{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 15px;
}
#div1{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding: 240px;
    text-align: center;
}
#h1{
    color: white;
    font-size: 45px;
}
#p1{
    color: #be3144;
    font-size:30px ;
}
.project-title{
    text-decoration: underline;
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    margin-bottom: 80px;
    font-size: 40px;
    color: white;
}
#div2{
    background-color: #45567d;
}
#projects{
    margin-left: 23px;
}
.img1{
    margin-right: 40px;
    margin-bottom: 30px;
}
.img2{
    margin-right: 43px;
    margin-bottom: 30px;
}
input{
    font-size: 2rem;
    background: #303841;
    padding: 1rem 2rem;
    border-radius: 2px;
    color:white;
    margin-left: 580px;
    margin-bottom: 100px;
    margin-top: 50px;
}
#div3{
    background-color: #303841;
    padding: 240px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#p2{
    font-size: 70px;
    text-align: center;
}
#p3{
    text-align: center;
    margin-top: -60px;
    font-size: 19px;
    margin-bottom: 40px;
}
.img3{
    margin-bottom: -15px;
    padding-left: 20px;
}body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
#welcome-section{
    display:flex;
    justify-content: space-evenly;
    padding-left: 980px;
    background-color:#be3144;
    
}
.a1{
    text-decoration: none;
    font-size: 25px;
    color: white;
    padding: 15px;
}
#div1{
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    padding: 240px;
    text-align: center;
}
#h1{
    color: white;
    font-size: 45px;
}
#p1{
    color: #be3144;
    font-size:30px ;
}
.project-title{
    text-decoration: underline;
    text-align: center;
    margin-top: 0;
    padding-top: 90px;
    margin-bottom: 80px;
    font-size: 40px;
    color: white;
}
#div2{
    background-color: #45567d;
}
#projects{
    margin-left: 23px;
}
.img1{
    margin-right: 40px;
    margin-bottom: 30px;
}
.img2{
    margin-right: 43px;
    margin-bottom: 30px;
}
input{
    font-size: 2rem;
    background: #303841;
    padding: 1rem 2rem;
    border-radius: 2px;
    color:white;
    margin-left: 580px;
    margin-bottom: 100px;
    margin-top: 50px;
}
#div3{
    background-color: #303841;
    padding: 240px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
#p2{
    font-size: 70px;
    text-align: center;
}
#p3{
    text-align: center;
    margin-top: -60px;
    font-size: 19px;
    margin-bottom: 40px;
}
.img3{
    margin-bottom: -15px;
    padding-left: 20px;
}
